@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: #313338;
  /* background-color: conic-gradient(from 0deg, #030202, #ccc, #3a1c1c); */
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;  /* width of the entire scrollbar */
}

/* Styles the track (part the thumb travels in) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  border-radius: 10px;
}

/* Styles the thumb itself */
::-webkit-scrollbar-thumb {
  background-color: darkgrey;    /* color of the thumb */
  border-radius: 10px;
}

/* Styles the thumb when it's being hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

